.Input-search {
  border-radius: 4px;
  border: 1px solid #bbb;
  box-sizing: border-box;
  font-size: 1.2em;
  padding: 10px 8px;
  width: 95.3vw;
  margin: 0 2% 2% 2%;
  border-bottom: 1px solid #ccc;
}
