.header{
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    font-weight: normal;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    color: #333;
    width: 100vw;
}
img{
    width:1.5em;
    height:1.5em;
    top: 6px;
    padding: 0 14px;
    background-color: rgb(260, 260, 260);
}