.Emoji-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1em 0em;
  border: 1px solid rgb(221, 202, 202);
  border-bottom: none;
  margin-left: 2%;
  margin-right: 2%;
  box-sizing: border-box;
}
.image-row {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: 0.5rem;
}
.Copy-emoji {
  padding-right: 1em;
  color: aliceblue;
}
.Emoji-row:hover {
  background-color: rgb(175, 183, 184);
}
.meme-image{
    font-size: 1.8rem;
}
.title{
    font-size: 1rem;
}
